{% extends "common/base.html" %}

{% load static %}

{% block title %}LISTS{% endblock %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static 'speech_to_text/css/list.css'%}">
{% endblock %}

{% block content %}

  <section class="w3l-service-breadcrum">
    <div class="breadcrum-bg">
      <div class="container py-5">
        <p><a href="/">Home</a> &nbsp; / &nbsp; Speech To Text &nbsp; / &nbsp; List</p>
      </div>
    </div>
  </section>

  <!-- upload -->
  <section class="w3l-pricing-7" id="upload_section" >
    <div class="w3l-pricing-7_sur py-5">
      <div class="container py-md-3">
        <div class="heading text-center mx-auto">
          <h3 class="head">Upload audio/video files</h3>
          <p class="my-3 head"></p>
        </div>
        <div class="row w3l-pricing-7-gd-top pt-3 mt-5">
          <table id="list" class>
            <thead>
              <tr>
                <td>No</td>
                <td>Name</td>
                <td>Status</td>
                <td>Size</td>
                <td>Time</td>
              </tr>
            </thead>
            <tbody>
              {% for list in lists %}
                <tr>
                  <td></td>
                  <td>{{ list.filename }}</td>
                  <td>
                    {% if list.status == "uploaded" %}
                      transcibing
                    {% elif list.status == "transcribed" %}
                      transcribed
                    {% elif list.status == "failed" %}
                      failed
                    {% elif list.status == "aborted" %}
                      aborted
                    {% else %}
                      Error
                    {% endif %}
                  </td>
                  <td>{{ list.file_size }}</td>
                  <td>{{ list.file_time }}</td>
                </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  
  <!-- grids block 5 -->
  <section class="w3l-footer-29-main" id="footer">
    <div class="footer-29 text-center">
      <div class="container">

        <div class="main-social-footer-29">

          <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
          <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
          <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
          <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
          <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
        </div>
        <div class="bottom-copies text-center">
          <p class="copy-footer-29">© 2020 Our Website. All rights reserved | Designed by <a
              href="https://MOVIEPY.com">MOVIEPY</a></p>

        </div>
      </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>

{% endblock %}

{% block custom_js %}
  <script src="{% static 'common/js/datatable.js' %}"></script>
  <!-- custom JS -->
  <script src="{% static 'speech_to_text/js/list.js' %}"></script>
{% endblock %}