#upload_form {
  position: relative;
  width: 100%;
  border: 4px dashed #556d3a;
	border-radius: 20px;
}

#upload_form p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #556d3a;
  font-family: Arial;
}

#upload_form input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

#upload_form label {
	display: none;
}

#upload_form button {
  margin: 0;
  color: #556d3a;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}

#upload_form button:hover {
  background: #149174;
  color: #0C5645;
}

#upload_form button:active {
  border: 0;
}

.btn-custom {
  width: 100%;
}

.loading-section {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.loading{
  position: fixed;
  top: 40%;
  left: 50%;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0,0,0);
  animation: animate 1.2s ease-in-out infinite;
}
@keyframes animate {
  0%, 10%, 100%{
    height: 40px;
    width: 40px;
  }
  65%{
    height: 70px;
    width: 70px;
  }
}
.loading span{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  animation: rotate 1.2s linear both infinite;
}
@keyframes rotate {
  0%, 30%{
    transform: rotate(0);
  }
  65%{
    transform: rotate(-40deg);
  }
}
.loading span:nth-child(1){
  top: 0;
  left: 0;
  background: #1ac9ff;
}
.loading span:nth-child(2){
  top: 0;
  right: 0;
  background: #fcb603;
}
.loading span:nth-child(3){
  bottom: 0;
  left: 0;
  background: #af49b6;
}
.loading span:nth-child(4){
  bottom: 0;
  right: 0;
  background: #e03870;
}